# This file is used for Git repositories to specify intentionally untracked files that Git should ignore. 
# If you are not using git, you can delete this file. For more information see: https://git-scm.com/docs/gitignore
# For useful gitignore templates see: https://github.com/github/gitignore

# Salesforce cache
.sf/
.sfdx/
.localdevserver/
deploy-options.json

# LWC VSCode autocomplete
**/lwc/jsconfig.json

# LWC Jest coverage reports
coverage/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Eslint cache
.eslintcache

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Local environment variables
.env

# Python Salesforce Functions
**/__pycache__/
**/.venv/
**/venv/

# Added by Illuminated Cloud
/IlluminatedCloud/
/out/
target/
/.idea/runConfigurations/All_Tests.xml
/.idea/.gitignore
/.idea/encodings.xml
/.idea/illuminatedCloud.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/force-app/main/default/aura/.eslintrc.json
/force-app/main/default/flexipages/Account_Input_Components.flexipage-meta.xml
/force-app/main/default/flexipages/Account_Record_Page.flexipage-meta.xml
/force-app/main/default/flexipages/Bike_App.flexipage-meta.xml
/force-app/main/default/flexipages/Example_1_Increase_Number.flexipage-meta.xml
/force-app/main/default/flexipages/Example_1_Loop.flexipage-meta.xml
/force-app/main/default/flexipages/Example_2_Count_Clicks.flexipage-meta.xml
/force-app/main/default/flexipages/Example_2_Scroll_List.flexipage-meta.xml
/force-app/main/default/flexipages/Example_3_Input_Fields.flexipage-meta.xml
/force-app/main/default/flexipages/Example_4_Table.flexipage-meta.xml
/force-app/main/default/flexipages/Home_Page_Default.flexipage-meta.xml
/force-app/main/default/flexipages/LightningSales_UtilityBar.flexipage-meta.xml
/force-app/main/default/flexipages/LightningSalesConsole_UtilityBar.flexipage-meta.xml
/force-app/main/default/flexipages/LightningService_UtilityBar.flexipage-meta.xml
/force-app/main/default/flexipages/Solutions.flexipage-meta.xml
/force-app/main/default/lwc/accountContactsBornAfterCallApexImperative/accountContactsBornAfterCallApexImperative.html
/force-app/main/default/lwc/accountContactsBornAfterCallApexImperative/accountContactsBornAfterCallApexImperative.js
/force-app/main/default/lwc/accountContactsBornAfterCallApexImperative/accountContactsBornAfterCallApexImperative.js-meta.xml
/force-app/main/default/lwc/accountContactsBornAfterWireApexFunction/accountContactsBornAfterWireApexFunction.html
/force-app/main/default/lwc/accountContactsBornAfterWireApexFunction/accountContactsBornAfterWireApexFunction.js
/force-app/main/default/lwc/accountContactsBornAfterWireApexFunction/accountContactsBornAfterWireApexFunction.js-meta.xml
/force-app/main/default/lwc/accountContactsBornAfterWireApexProperty/accountContactsBornAfterWireApexProperty.html
/force-app/main/default/lwc/accountContactsBornAfterWireApexProperty/accountContactsBornAfterWireApexProperty.js
/force-app/main/default/lwc/accountContactsBornAfterWireApexProperty/accountContactsBornAfterWireApexProperty.js-meta.xml
/force-app/main/default/lwc/accountCreator/accountCreator.html
/force-app/main/default/lwc/accountCreator/accountCreator.js
/force-app/main/default/lwc/accountCreator/accountCreator.js-meta.xml
/force-app/main/default/lwc/accountLdsCreateRecord/accountLdsCreateRecord.html
/force-app/main/default/lwc/accountLdsCreateRecord/accountLdsCreateRecord.js
/force-app/main/default/lwc/accountLdsCreateRecord/accountLdsCreateRecord.js-meta.xml
/force-app/main/default/lwc/accountList/accountList.html
/force-app/main/default/lwc/accountList/accountList.js
/force-app/main/default/lwc/accountList/accountList.js-meta.xml
/force-app/main/default/lwc/accountWireGetRecordFunction/accountWireGetRecordFunction.html
/force-app/main/default/lwc/accountWireGetRecordFunction/accountWireGetRecordFunction.js
/force-app/main/default/lwc/accountWireGetRecordFunction/accountWireGetRecordFunction.js-meta.xml
/force-app/main/default/lwc/accountWireGetRecordProperty/accountWireGetRecordProperty.html
/force-app/main/default/lwc/accountWireGetRecordProperty/accountWireGetRecordProperty.js
/force-app/main/default/lwc/accountWireGetRecordProperty/accountWireGetRecordProperty.js-meta.xml
/force-app/main/default/lwc/bike/bike.html
/force-app/main/default/lwc/bike/bike.js
/force-app/main/default/lwc/bike/bike.js-meta.xml
/force-app/main/default/lwc/bikeApp/bikeApp.html
/force-app/main/default/lwc/bikeApp/bikeApp.js
/force-app/main/default/lwc/bikeApp/bikeApp.js-meta.xml
/force-app/main/default/lwc/bikeCard/bikeCard.css
/force-app/main/default/lwc/bikeCard/bikeCard.html
/force-app/main/default/lwc/bikeCard/bikeCard.js
/force-app/main/default/lwc/bikeCard/bikeCard.js-meta.xml
/force-app/main/default/lwc/bikeData/bikeData.js
/force-app/main/default/lwc/bikeData/bikeData.js-meta.xml
/force-app/main/default/lwc/bikeDetail/bikeDetail.css
/force-app/main/default/lwc/bikeDetail/bikeDetail.html
/force-app/main/default/lwc/bikeDetail/bikeDetail.js
/force-app/main/default/lwc/bikeDetail/bikeDetail.js-meta.xml
/force-app/main/default/lwc/bikeList/bikeList.css
/force-app/main/default/lwc/bikeList/bikeList.html
/force-app/main/default/lwc/bikeList/bikeList.js
/force-app/main/default/lwc/bikeList/bikeList.js-meta.xml
/force-app/main/default/lwc/bikeSelector/bikeSelector.css
/force-app/main/default/lwc/bikeSelector/bikeSelector.html
/force-app/main/default/lwc/bikeSelector/bikeSelector.js
/force-app/main/default/lwc/bikeSelector/bikeSelector.js-meta.xml
/force-app/main/default/lwc/bikeTile/bikeTile.css
/force-app/main/default/lwc/bikeTile/bikeTile.html
/force-app/main/default/lwc/bikeTile/bikeTile.js
/force-app/main/default/lwc/bikeTile/bikeTile.js-meta.xml
/force-app/main/default/lwc/caseFilteredRelatedList/caseFilteredRelatedList.html
/force-app/main/default/lwc/caseFilteredRelatedList/caseFilteredRelatedList.js
/force-app/main/default/lwc/caseFilteredRelatedList/caseFilteredRelatedList.js-meta.xml
/force-app/main/default/lwc/contactRelatedTable/contactRelatedTable.html
/force-app/main/default/lwc/contactRelatedTable/contactRelatedTable.js
/force-app/main/default/lwc/contactRelatedTable/contactRelatedTable.js-meta.xml
/force-app/main/default/lwc/contactsBornAfterCallApexImperative/contactsBornAfterCallApexImperative.html
/force-app/main/default/lwc/contactsBornAfterCallApexImperative/contactsBornAfterCallApexImperative.js
/force-app/main/default/lwc/contactsBornAfterCallApexImperative/contactsBornAfterCallApexImperative.js-meta.xml
/force-app/main/default/lwc/contactsBornAfterWireApexProperty/contactsBornAfterWireApexProperty.html
/force-app/main/default/lwc/contactsBornAfterWireApexProperty/contactsBornAfterWireApexProperty.js
/force-app/main/default/lwc/contactsBornAfterWireApexProperty/contactsBornAfterWireApexProperty.js-meta.xml
/force-app/main/default/lwc/controls/controls.html
/force-app/main/default/lwc/controls/controls.js
/force-app/main/default/lwc/controls/controls.js-meta.xml
/force-app/main/default/lwc/display/display.html
/force-app/main/default/lwc/display/display.js
/force-app/main/default/lwc/display/display.js-meta.xml
/force-app/main/default/lwc/example1_IncreaseNumber/example1_IncreaseNumber.html
/force-app/main/default/lwc/example1_IncreaseNumber/example1_IncreaseNumber.js
/force-app/main/default/lwc/example1_IncreaseNumber/example1_IncreaseNumber.js-meta.xml
/force-app/main/default/lwc/example1_Loop/example1_Loop.html
/force-app/main/default/lwc/example1_Loop/example1_Loop.js
/force-app/main/default/lwc/example1_Loop/example1_Loop.js-meta.xml
/force-app/main/default/lwc/example2_CountClicks/example2_CountClicks.html
/force-app/main/default/lwc/example2_CountClicks/example2_CountClicks.js
/force-app/main/default/lwc/example2_CountClicks/example2_CountClicks.js-meta.xml
/force-app/main/default/lwc/example2_CountClicks/SomeObj.js
/force-app/main/default/lwc/example2_ScrollList/example2_ScrollList.css
/force-app/main/default/lwc/example2_ScrollList/example2_ScrollList.html
/force-app/main/default/lwc/example2_ScrollList/example2_ScrollList.js
/force-app/main/default/lwc/example2_ScrollList/example2_ScrollList.js-meta.xml
/force-app/main/default/lwc/example3_InputFields/example3_InputFields.css
/force-app/main/default/lwc/example3_InputFields/example3_InputFields.html
/force-app/main/default/lwc/example3_InputFields/example3_InputFields.js
/force-app/main/default/lwc/example3_InputFields/example3_InputFields.js-meta.xml
/force-app/main/default/lwc/example4_Table/example4_Table.html
/force-app/main/default/lwc/example4_Table/example4_Table.js
/force-app/main/default/lwc/example4_Table/example4_Table.js-meta.xml
/force-app/main/default/lwc/helloWorld/helloWorld.css
/force-app/main/default/lwc/helloWorld/helloWorld.html
/force-app/main/default/lwc/helloWorld/helloWorld.js
/force-app/main/default/lwc/helloWorld/helloWorld.js-meta.xml
/force-app/main/default/lwc/otherComponents/otherComponents.html
/force-app/main/default/lwc/otherComponents/otherComponents.js
/force-app/main/default/lwc/otherComponents/otherComponents.js-meta.xml
/force-app/main/default/lwc/videoMethodCaller/videoMethodCaller.html
/force-app/main/default/lwc/videoMethodCaller/videoMethodCaller.js
/force-app/main/default/lwc/videoMethodCaller/videoMethodCaller.js-meta.xml
/force-app/main/default/lwc/videoPlayer/videoPlayer.html
/force-app/main/default/lwc/videoPlayer/videoPlayer.js
/force-app/main/default/lwc/videoPlayer/videoPlayer.js-meta.xml
/force-app/main/default/lwc/wireApex/wireApex.html
/force-app/main/default/lwc/wireApex/wireApex.js
/force-app/main/default/lwc/wireApex/wireApex.js-meta.xml
/force-app/main/default/lwc/wireCurrentPageReference/wireCurrentPageReference.html
/force-app/main/default/lwc/wireCurrentPageReference/wireCurrentPageReference.js
/force-app/main/default/lwc/wireCurrentPageReference/wireCurrentPageReference.js-meta.xml
/force-app/main/default/lwc/wireLightningDataService/__test__/wireLightningDataService.test.js
/force-app/main/default/lwc/wireLightningDataService/wireLightningDataService.html
/force-app/main/default/lwc/wireLightningDataService/wireLightningDataService.js
/force-app/main/default/lwc/wireLightningDataService/wireLightningDataService.js-meta.xml
/force-app/main/default/classes/BadBunchController.cls
/force-app/main/default/classes/BadBunchController.cls-meta.xml
/force-app/main/default/classes/DAO_AccountSelector.cls
/force-app/main/default/classes/DAO_AccountSelector.cls-meta.xml
/force-app/main/default/classes/DAO_ContactSelector.cls
/force-app/main/default/classes/DAO_ContactSelector.cls-meta.xml
/force-app/main/default/classes/LWCR_AccountController.cls
/force-app/main/default/classes/LWCR_AccountController.cls-meta.xml
/force-app/main/default/classes/LWCR_ContactController.cls
/force-app/main/default/classes/LWCR_ContactController.cls-meta.xml
/force-app/main/default/classes/Test_BadBunchController.cls
/force-app/main/default/classes/Test_BadBunchController.cls-meta.xml
